.calwrapper{
    width: 70%;
    min-height: 400px;
    margin: auto;
    margin-top: 100px;
    background: gray;
    padding: 1px;
}
.result{
    width: 100%;
    background: #fff;
    color: black;
    height: 97px;
    padding-top: 15px;
    margin: auto;
}
.numwrapper{
    width: 80%;
    min-height: 300px;
    float: left;

}
.nums{
    display: block;
    width:33%;
    height: 55px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    background: pink;
    color: #ffffff;
    padding-top: 10px;
    font-size: 25px;
    cursor: pointer;
}
.opswrapper{
    width: 20%;
    float: left;
}
.ops{
    display: block;
    width: 99%;
    height: 85px;
    background: #fff;
    font-size: 25px;
    padding-top: 10px;
    margin: 1px;
    height: 55px;
    text-align: center;
    color: darkslategray;
    cursor: pointer;

}
.calwrapper input{
    border: none;
}